.boxcontainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.containerLab1 {
    margin-top: 15px;
}
.imgpokemon {
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}
.formlab1 {
    text-align: center;
    margin-left: 30px;
}
.boxinput {
    position: relative;
}
#nameuser {
    left: 42%;
    position: absolute;
    width: 250px;
}
.invalid-feedback {
    top: 40px;
    /* left: 42%; */
    position: absolute;
    width: 250px;
}
.black {
    background-color: black;
}

.btnhandleBox {
    padding-top: 20px;
    margin-top: 45px;
}
.btnhandleBox > Button {
    margin: 0 5px;
}
.box {
    position: relative;
}
.id {
    padding: 10px;
    font-size: large;
    font-weight: bold;
    text-decoration: underline;
    position: absolute;
    top: 0;
    left: 0;
}
